body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #4facfe, #00f2fe);
    color: #fff;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

form {
    margin-bottom: 1rem;
}

input[type="datetime-local"] {
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.timer {
    display: none;
    /* Таймер изначально скрыт */
    gap: 1rem;
    font-size: 1.5rem;
}

.timer div {
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    border-radius: 8px;
    min-width: 80px;
}

.number {
    font-size: 2rem;
    font-weight: bold;
}
